.space-y-4
  = f.input :first_name,
      required: true,
      input_html: { class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm",
    maxlength: 100 }
  = f.input :last_name,
      required: true,
      input_html: { class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm",
    maxlength: 100 }
