.nested-fields.mb-3.border.p-3.rounded{ data: { new: f.object.new_record? } }
  - if f.object.persisted?
    %p
      %strong Current file:
      = link_to f.object.file.filename, rails_blob_path(f.object.file, disposition: 'attachment')

  .form-group
    = f.input :file,
              as: :file,
              label: (f.object.persisted? ? "New file (voluntary)" : "File"),
              input_html: {direct_upload: true,
      accept: "image/png,image/jpeg,application/pdf,image/tiff"}

  .form-group
    = f.input :note,
              as: :text,
              label: "File note",
              input_html: { maxlength: 500 }

  %div
    - if f.object.persisted?
      = f.input :_destroy,
                as: :boolean,
                label: "Delete attachment"
    - else
      %button.btn.btn-sm.btn-danger{ type: "button", data: { action: "attachments#remove" } }
        Delete
