<% content_for :title, "Tasks" %>

<div class="w-full">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Tasks</h1>
    <%= link_to "New task", new_task_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <%= render 'shared/flash' %>

  <%= render 'shared/table',
             headers: ["Subject", "Status", "Assigned to", "Project", "Created at", "Actions"],
             pagination: @tasks,
             search: { form: @q, url: tasks_path, fields: [:subject] } do %>
    <% if @tasks.any? %>
      <%= render partial: "task_row", collection: @tasks, as: :task %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center py-10 text-gray-500">
          No tasks found.
        </td>
      </tr>
    <% end %>
  <% end %>
</div>

