<div>
  <strong class="block font-medium mb-1">Address:</strong>
  <%= [
        address.street_name, address.street_number
      ].join(' ') + ', ' +
        [
          address.city,
          address.postal_code,
          address.country_name
        ].join(', ')
  %>
</div>