- flash.each do |key, msg|
  - css = case key.to_sym
    - when :notice then "bg-green-50 text-green-500"
    - when :alert  then "bg-red-50 text-red-500"
    - else               "bg-gray-50 text-gray-700"
    - end
  %p{id: key, class: "py-2 px-3 mb-5 font-medium rounded-md inline-block #{css}"}
    = msg
