- content_for :title, "Editing project"

= render "shared/secondary_container", title: "Editing project" do
  = render "form", project: @project
  = render 'shared/action_link_primary', name: 'Back to projects', path: projects_path
